<!doctype html>  
    <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
    <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
    <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
    <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
    <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

        <title>{{ page.title }}</title> 
        <meta name="Open Science Info" content="Open Science Info Blog" />
        <link href='http://fonts.googleapis.com/css?family=Lato:light,regular,bold' rel='stylesheet' type='text/css'>
        <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" /> 
        <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
        <link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" /> 
        <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">
        <!--    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
        <link rel="icon" type="image/png" href="http://blog.opensci.info/favicon.png" /> 
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2203206-12']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head> 
     
    <body>
<a href="https://github.com/mchelen/blog.opensci.info/"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

        <div id="header">
            <div class="inner">
                <ul>
                    <li><a href="http://www.twitter.com/opensci">Follow Us</a></li>
                    <li><a href="/about/">About Us</a></li>
                </ul>
                <h1><a href="/">blog.opensci.info</a></h1>
                <h2>The Open Science Info Blog</h2>
            </div>
        </div>
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-6150832828352770";
            /* leaderboard */
            google_ad_slot = "6620672345";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
        </script>
        <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
        <br/>
        <div id="content">
            <div class="inner">
                {{ content }}
            </div>
        </div>
 <script type="text/javascript"><!--
            google_ad_client = "ca-pub-6150832828352770";
            /* leaderboard */
            google_ad_slot = "6620672345";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
            </script>       
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        <div id="footer" class="clearfix">
            <div class="inner">
                <div class="archives">
                    <h3>Archives</h3>
            
                    <table>
                    {% for post in site.posts %}
                        <tr>
                            <td class="date">{{ post.date | date_to_string }}</td>
                            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="about">
                    <h3><a href="/about/">About Us</a></h3>
                    
                    <a href="/about/"><img src="http://a3.twimg.com/profile_images/153964036/louis_15_bg_101202-crop-sm_reasonably_small.jpg" alt="ME" /></a>
                    <div>
                        Discussing open access, data, standards, notebooks, and information sharing to support science research and education. <a href="/about/">Read more</a>
                    </div>
                </div>
                <div class="subscribe">
                    <h3><a href="./atom.xml">Subscribe<img src="./file/logo/feed-icon-28x28.png" /></a></h3>
                </div>
            </div>
        </div>
        
    </body> 
</html>
